
<h3>{{ question.question_text }}</h3>
<p>{{ question.pub_date }}</p>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif%}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>
<a href="{% url 'polls:index' %}">Back</a>